.SearchBar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.SearchBar input,
button {
  padding: 15px 0px;
}

.SearchBar input {
  flex: 1;
  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.SearchBar input:focus {
  outline: none;
  border-bottom: 1px solid rgb(37, 147, 255);
}

.SearchBar button {
  cursor: pointer;
  border: none;
  width: 80px;
  background-color: rgb(37, 147, 255);
  border-radius: 5px;
  color: white;
}

.List {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todosWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
